.sectionBenefits {
  padding: 7rem 0;
  background-color: #1a1a1a;
}

.sectionText {
  color: #fff;
  font: 1.5rem/140% "Montserrat-SemiBold", sans-serif;
  text-align: center;
}

.sectionTitle {
  color: var(--primary, #c94d00);
  font: 2.875rem/140% "Prata-Regular", sans-serif;
  text-align: center;
  margin: 1rem 0 5rem;
}

.sectionItemsMain {
  display: flex;
  justify-content: space-between;
}

.sectionItems {
  width: 17.5rem;
}

.sectionSubTitle {
  color: #fff;
  font: 2rem "Montserrat-ExtraBold", sans-serif;
  margin: 1.875rem 0;
}

.sectionSubText {
  color: #6b6b6b;
  font: 1rem/140% "Montserrat-Regular", sans-serif;
}