.sectionBenefits {
  padding: 7rem 0;
  background-color: var(--Dark-grey, #1A1A1A);
  border-bottom: 1px solid var(--Grey, #6B6B6B);
}

.colorWhite {
  color: #fff;
}

.textCenter {
  text-align: center;
}

.sectionText {
  font: 1.5rem/140% "Montserrat-SemiBold", sans-serif;
}

.sectionTitle {
  color: var(--primary, #c94d00);
  font: 2.875rem/140% "Prata-Regular", sans-serif;
  margin: 1rem 0 5rem;
}

.sectionItemsMain {
  display: flex;
  justify-content: space-between;
}

.sectionItems {
  width: 17.5rem;
}

.sectionSubTitle {
  font: 2rem "Montserrat-ExtraBold", sans-serif;
  margin: 1.875rem 0;
}

.sectionSubText {
  color: var(--Grey, #6B6B6B);
  font: 1rem/140% "Montserrat-Regular", sans-serif;
}