.sectionFees {
  padding: 5rem 0;
}

.textCenter {
  text-align: center;
}

.sectionText {
  color: var(--Dark-grey, #1A1A1A);
  font: 1.5rem "Montserrat-SemiBold", sans-serif;
}

.sectionTitle {
  color: var(--primary, #c94d00);
  font: 2.875rem/140% "Prata-Regular", sans-serif;
  margin: 1rem 0 2rem;
}

.fontAll {
  font: 1rem/160% "Montserrat-Regular", sans-serif;
}

.sectionSubText {
  margin-inline: auto;
  color: rgba(0, 0, 0, 2);
  max-width: 30rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.sectionTableContainer {
  margin-top: 3.5rem;
}

.sectionTHTextLeft {
  text-align: left;
}

.sectionTH,
.sectionTHTextLeft {
  font: 1rem "Montserrat-Bold", sans-serif;
  padding-bottom: 15px;
}

.sectionTD {
  width: 26.8rem;
  padding: 10px 4.438rem 10px 10px;
}

.sectionTD,
.sectionTDPrice {
  background-color: #f5f5f5;
}

.sectionTDPrice {
  padding-inline: 11px;
}

.secondTable {
  margin-top: 15px;
}

.sectionFooter {
  padding-inline: 8rem;
  margin-top: 4rem;
  text-align: justify;
}

.sectionEndText {
  color: var(--Grey, #6B6B6B);
}