.relative {
  position: relative;
}

.servicesSection {
  background-color: var(--Dark-grey, #1A1A1A);
  padding: 5rem 0;
}

.servicesSection::before {
  position: absolute;
  content: '';
  filter: blur(18.75rem);
  background: rgba(201, 77, 0, 0.4);
  border-radius: 100%;
  width: 46.94rem;
  height: 46.94rem;
  left: -27.81rem;
  top: 35.31rem;
}

.servicesSection::after {
  position: absolute;
  content: '';
  background: url("../../../public/assets/img/ServicesTriangle.png") no-repeat center right/ cover;
  width: 59.91rem;
  height: 59.91rem;
  right: -21rem;
  bottom: 0;
}

.servicesItems {
  text-align: center;
}

.colorWhite {
  color: #fff;
}

.servicesText {
  font: 1.5rem/140% "Montserrat-SemiBold", sans-serif;
}

.servicesTitle {
  color: var(--primary, #c94d00);
  font: 2.875rem/140% "Prata-Regular", sans-serif;
  max-width: 55rem;
  margin: 1rem auto 0;
}

.flex {
  display: flex;
}

.sectionMainContainer {
  margin-top: 6rem;
  flex-wrap: wrap;
  gap: 5rem;
}

.servicesMainItems {
  max-width: 20rem;
}

.fontMExtram {
  font-family: "Montserrat-ExtraBold", sans-serif;
}

.servicesItemTitle,
.subMainTitle {
  font-size: 2rem;
}

.itemLine {
  margin: 1.875rem 0;
}

.fontMregular {
  font-family: "Montserrat-Regular", sans-serif;
}

.fontSize {
  font-size: 1rem;
}

.servicesItemText {
  color: var(--Grey, #6b6b6b);
  line-height: 140%;
  margin-bottom: 1.875rem;
}

.servicesItemLink {
  font: 1rem "Montserrat-Medium", sans-serif;
  border: 1px solid #FFF;
  border-radius: 25px;
  padding: 10px 15px;
}

.sectionSubMainContainer {
  background-color: #FFF;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 2.5rem 0;
  margin-top: 7rem;
  z-index: 2;
}

.subMainTexts {
  width: 43.75rem;
}

.colorDarkGrey {
  color: var(--Dark-grey, #1a1a1a);
}

.subMainTitle {
  margin-bottom: 1.875rem;
}

.subMainText {
  line-height: 160%;
}