.pageAbout {
  background: url(../../../../public/assets/img/AboutPageImg.png) no-repeat center top/ cover;
  min-height: 100vh;
  padding-bottom: 7rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.pageItems {
  padding-top: 5rem;
}

.pageLeftItems {
  padding-top: 10.179rem;
  max-width: 34.375rem;
}

.colorWhite {
  color: #fff;
}

.pageText {
  font: 1.5rem "Montserrat-SemiBold", sans-serif;
}

.pageTitle {
  color: var(--primary, #c94d00);
  font: 2.875rem/140% "Prata-Regular", sans-serif;
  margin: 1rem 0 2rem;
}

.pageSubText,
.aboutPageSubText{
  color: var(--Grey, #6B6B6B);
  font: 1rem/160% "Montserrat-Regular", sans-serif;
}

.pageRightItems {
  padding-top: 6.875rem;
}

.aboutPageSubItems {
  margin-top: 6rem;
  max-width: 23.75rem;
}

.aboutPageSubTitle,
.pageSubTextItem {
  font: 2rem "Montserrat-ExtraBold", sans-serif;
}

.itemLine {
  margin: 1.875rem 0;
}

.aboutPageSubText {
  line-height: 140%;
}

.pageSubItem {
  align-items: center;
  background-color: #fff;
  max-width: 73.75rem;
  padding: 5rem;
  margin-top: 5rem;
  border-radius: 10px;
}

.pageSubTextItem {
  color: var(--Dark-grey, #1A1A1A);
  max-width: 37.5rem;
}