.sectionBanking {
  background-color: #f0edee;;
}

.flex {
  display: flex;
}

.bankingTexts {
  margin-left: 3.125rem;
}

.colorDarkGrey {
  color: var(--Dark-grey, #1a1a1a);
}

.bankingMainText {
  margin: 8.375rem 0 1rem;
  font: 1.5rem/140% "Montserrat-SemiBold", sans-serif;
}

.colorPrimary {
 color: var(--primary, #c94d00);
}

.bankingMainTitle {
  font: 2.875rem/140% "Prata-Regular", sans-serif;
  width: 34rem;
  margin-bottom: 2.438rem;
}

.bankingTextContainer {
  align-items: center;
}

.bankingTextContainer:not(:last-child) {
  margin-bottom: 1.25rem;
}

.textDecor {
  margin-right: 1.5rem;
}

.bankingSubTexts {
  font: 1rem/160% "Montserrat-Regular", sans-serif;
}

.bankingLinkItem {
  font: 1rem "Montserrat-Medium", sans-serif;
  border: 1px solid var(--Dark-grey, #1a1a1a);
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 3.25rem;
  display: inline-block;
}