.expertiseSection {
  background-color: var(--Dark-grey, #1A1A1A);
  padding: 7rem 0;
}

.colorWhite {
  color: #FFF;
}

.sectionItems {
  text-align: center;
}

.expertiseText {
  font: 1.5rem/140% "Montserrat-SemiBold", sans-serif;
  margin-bottom: 1rem;
}

.fontMregular {
  font-family: "Montserrat-Regular", sans-serif;
}

.expertiseTitle {
  color: var(--primary, #c94d00);
  font-size: 2.875rem;
  line-height: 140%;
}

.sectionSecondItemsContainer {
  display: flex;
  justify-content: space-between;
}

.sectionSecondItems {
  max-width: 15rem;
}

.sectionicons {
  margin: 5rem 0 1.875rem;
}

.sectionSubTitle {
  font: 2rem "Montserrat-ExtraBold", sans-serif;
  margin-bottom: 1.875rem;;
}

.sectionSubText {
  color: var(--Grey, #6b6b6b);
  font-size: 1rem;
  line-height: 140%;
}