.main {
  background: url(../../../public/assets/img/HeroImage.png) no-repeat center top/ cover;
  min-height: 100vh;
  padding-top: 12rem;
}

.fonFamily {
  font-family: "Prata-Regular", sans-serif;
}

.colorPrimary {
  color: var(--primary, #c94d00);
}

.mainTitle {
  font-size: 3.5rem;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.mainTexts {
  margin-top: 14px;
}

.mainIcon {
  margin-right: 2.8rem;
}

.colorWhite {
  color: #fff;
}

.fontMregular {
  font-family: "Montserrat-Regular", sans-serif;
}

.textCenter {
  text-align: center;
}

.mainSubTitle,
.mainSubSecondTitle {
  font: 4.25rem "Montserrat-Bold", sans-serif;
}

.mainSubSecondTitle {
  margin-bottom: 37px;
}

.mainTextItem {
  color: var(--Grey, #6B6B6B);
  max-width: 30rem;
  font-size: 1.125rem;
  line-height: 140%;
}

.buttonContainer {
  margin: 5rem 0 0 3.9rem;
}

.rightContainer {
  justify-content: center;
  margin-left: 29rem;
}

.mainRightItems:not(:last-child) {
  margin-right: 2.125rem;
}

.mainRightTitle {
  font-size: 2rem;
}

.mainRightText {
  font-size: 0.938rem;
  max-width: 8.2rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  margin-top: 5.75rem;
  overflow: hidden;
  background: rgba(201, 77, 0, 15%);
  white-space: nowrap;
}

.logos:hover .logosSlide {
  animation-play-state: paused;
}

.logosSlide {
  animation: 60s slide infinite linear;
}

.logosSlide p {
  font: 1.125rem/140% "Montserrat-Regular", sans-serif;
  margin-inline: 44.75px;
  padding: 18px 0;
}