.serveSection {
  padding: 7rem 0;
}

.sectionItems,
.rightContainerItems {
  display: flex;
}

.sectionLeftContainer {
  max-width: 34rem;
  margin-right: 3.5rem;
}

.colorDarkGrey {
  color: var(--Dark-grey, #1A1A1A);
}

.sectionText {
  font: 1.5rem/140% "Montserrat-SemiBold", sans-serif;
}

.colorPrimary {
  color: var(--primary,#c94d00);
}

.sectionTitle {
  font: 2.875rem/140% "Prata-Regular", sans-serif;
  margin: 1rem 0 3.5rem;
}

.rightContainerItems {
  margin-bottom: 1.25rem;
  align-items: center;
}

.diamondIcon {
  margin-right: 1.5rem;
}

.sectionSubText {
  font: 1rem/160% "Montserrat-Regular", sans-serif;
}

.buttonContainer {
  margin-top: 6rem;
}