.sectionAccount {
  padding: 0 0 7rem;
  position: relative;
}

.flex {
  display: flex;
}

.cardsContainer {
  position: absolute;
  top: -11rem;
  gap: 0 1.25rem;
}

.cards {
  padding: 3rem 1.875rem;
  max-width: 17.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.colorDarkGrey {
  color: var(--Dark-grey, #1A1A1A);
}

.cardTitle,
.sectionRightTitle {
  font: 2rem "Montserrat-ExtraBold", sans-serif;
}

.cardText {
  font: 1.125rem/140% "Montserrat-Regular", sans-serif;
  margin: 2.188rem 0 3.75rem;
}

.sectionTopTexts {
  padding-top: 23rem;
  justify-content: space-between;
}

.sectionTextItems {
  max-width: 29.875rem;
}

.sectionText {
  font: 1.5rem "Montserrat-SemiBold", sans-serif;
  margin-bottom: 1rem;
}

.colorPrimary {
  color: var(--primary, #c94d00);
}

.sectionTitle {
  font: 2.875rem/140% "Prata-Regular", sans-serif;
}

.sectionTopRightTextsContainer {
  max-width: 36.25rem;
}

.sectionRightTitle {
  margin-bottom: 2rem;
}

.diamondIcon {
  margin-right: 1.5rem;
}

.rightTextItems,
.rightTextSubItems {
  color: rgba(0, 0, 0, 2);
  font: 1rem/140% "Montserrat-Bold", sans-serif;
  margin-bottom: 0.5rem;
}

.rightTextSubItems {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 160%;
  margin-bottom: 2rem;
}
